<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zh.xplan">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <!-- 二维码相关权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 分享 添加必要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- AgentWeb 所需要的权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 腾讯Bugly 所需要的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- X5 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 视频播放横竖屏 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-sdk tools:overrideLibrary="com.shuyu.gsyvideoplayer.armv5,com.shuyu.gsyvideoplayer.lib,com.shuyu.gsyvideoplayer,tv.danmaku.ijk.media.exo2,com.google.android.exoplayer2.ext.rtmp,com.shuyu.gsyvideoplayer.ex_so,shuyu.com.androidvideocache,net.butterflytv.rtmp_client"/>
    <!-- 拍照 拍摄视频 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--设置桌面消息角标-->
    <!--for Samsung-->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <!--for htc-->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <!--for sony-->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <!--for apex-->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <!--for solid-->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <!--for huawei-->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <!--for ZUK-->
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <!--for OPPO-->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>

    <!--正式版本 allowBackup="false" 避免安全问题-->
    <application
        android:name=".XPlanApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        tools:replace="android:label,android:allowBackup"
        tools:overrideLibrary="com.module.common,com.shuyu.gsyvideoplayer.armv5"
        >
        <activity
            android:name="com.zh.xplan.ui.indexactivity.IndexActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppStartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zh.xplan.ui.indexactivity.AdActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeAdd"
            android:screenOrientation="portrait"
             />
        <activity
            android:name=".ui.mainactivity.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppThemeMain"
            />
        <activity
            android:name="com.zh.xplan.ui.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
             />
        <activity
            android:name="com.zh.xplan.ui.aboutapp.AboutAppActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.iptoolsactivity.IpToolsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.webviewActivity.WebviewActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.imagedetailactivity.ImageDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.playeractivity.PlayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.playeractivity.PlayerLocalActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
             />

        <activity
            android:name="com.zh.xplan.ui.playeractivity.PlayerDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
        <activity
            android:name="com.zh.xplan.ui.weather.WeatherMoreActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="com.zh.xplan.ui.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustPan"/>

        <activity
            android:name="com.zh.xplan.ui.webviewActivity.WeatherDetailsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />

        <activity
            android:name="com.zh.xplan.ui.robot.RobotKotlinActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

        <activity
            android:name="com.zh.xplan.ui.menutoutiao.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"/>

        <activity
            android:name="com.zh.xplan.ui.pulltorefreshdemo.PullToRefreshDemoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent"/>

        <activity
            android:name="com.zh.xplan.ui.camera.record.CustomCameraActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            />

        <activity
            android:name="com.zh.xplan.ui.menusetting.KotlinDemoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Transparent"
            />

        <activity
            android:name="com.zh.xplan.ui.logisticsdetail.LogisticsDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Transparent"
            />

        <!-- 分享和登录-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1eefa1d6d40e0" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="d063f62a5a4f9867f73e8d3054dae736" />
        <!--没有此activity在微信分享后回调会检查是否有此activity,没有将会报错。 此处与支付重复声明，注释-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VA1SQG6DpfmhlRc41h7DbF7xbNUC7i5s" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <!-- 微信支付 -->
        <activity
            android:name="com.module.common.pay.weixin.WXPayCallbackActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity-alias
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:targetActivity="com.module.common.pay.weixin.WXPayCallbackActivity" />
        <!-- 支付宝支付 -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />

        <!-- 适配全面屏 适配小米8-->
        <meta-data android:name="android.max_aspect" android:value="2.1" />

    </application>

</manifest>